{% extends "layout.njk" %}

{% block head %}
    <title>Erro | Meu Primeiro HTML</title>
{% endblock %}


{% block content %}
    <div id="error">
        <h1>404</h1>
        <p>Page not Found</p>
    </div>
{% endblock%}